
<h2>Your word:</h2>

<%= @word.word %>

<h2>Your definition:</h2>
<ul>
  <% @word.definitions.each do |definition| %>
  <li><%= definition.definition %></li>

  <%end%>
</ul>



<a href="<%= @word.id() %>/definition/new"><%= 'add new definition' %></a>
<br>
<br>
<br>

<a href="/"><%= 'home' %></a>
